<h1 class="page-header page-header-20">
  About Us <small>It's Nice to Meet You!</small>
</h1>
<p>
  We're an awesome husband and wife who's main goal in life is to
    spend our time together. Whether that means playing video games,
    or pursuing our entrepreneurial intrests
</p>
<h2 class="page-header page-header-20">Our Team</h2>
<div class="col-lg-6 text-center">
  <div class="col-lg-12">
    <%= image_tag "babe.png", class: "img-circle img-responsive img-center col-lg-10"  %>
  </div>
  <h3>Kyna
    <small>Content Creator</small>
  </h3>
  <p>
    Kyna is the mastermind behind Simply Kyna, shocker! Kynas
    always cooking up something creative to keep her sane in this
    crazy world.
  </p>
</div>
<div class="col-lg-6 text-center">
  <div class="col-lg-12">
    <%= image_tag "me.png", class: "img-circle img-responsive img-center col-lg-10"  %>
  </div>
  <h3>Anthony
    <small>Site Developer</small>
  </h3>
  <p>
    Anthony covers the technical side of Simply Kyna. Anthony is the
    developer of the site itself, and is here to make sure everything
    keeps operating smoothly.
  </p>
</div>
